# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
.idea/
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode/
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# Patch files
*.orig
*.rej

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node.js dependencies
front-end/node_modules/
/.pnp
.pnp.js

# Coverage directory
/coverage/

# Build directories
/build/

# Plugin directory for Quarkus
/.quarkus/cli/plugins/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
