$textColor: #000000;
$primaryColor: #6f9600;
$secondaryColor: #bb1d08;
$accentColor: #002663;
$darkColor: #0D1F0D;
$greyColor: #6C756C;
$whiteColor: #EBF5EB;

$minHeightAppBarSmallScreen: 56px;
$minHeightAppBarWideScreen: 64px;
$borderRadius: 4px;
$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);

// Définir la couleur grise pour la variable manquante
$lightGreyColor: #D3D3D3; // Choisissez une couleur grise appropriée

:export {
  textColor: $textColor;
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  accentColor: $accentColor;
  darkColor: $darkColor;
  greyColor: $greyColor;
  whiteColor: $whiteColor;
  minHeightAppBarSmallScreen: $minHeightAppBarSmallScreen;
  minHeightAppBarWideScreen: $minHeightAppBarWideScreen;
  borderRadius: $borderRadius;
  boxShadow: $boxShadow;
}
