#boxSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    padding: 0 10% 0 10%;
    background: #d8daff;  
}

#boxInfoGame {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

#boxScore {
    display: flex;
    gap: 10px;
}

#footballStadium {
    width: 100%;
}

#boxStadium {
    max-width: 800px;
    width: 100%;
    position: relative;
    padding: 15px;
    background-color: red;
}

.car {
    position: absolute;
    width: 5%;
    height: auto;
    background-color: blue;
    // la voiture est décalé par rapport à son centre
    transition: ease-in 0.5ms;
}

#buttonJoinGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rotated-up {
    transform: translate(-50%, -50%) rotate(0deg);
}

.rotated-down {
    transform: translate(-50%, -50%) rotate(180deg);
}

.rotated-left {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.rotated-right {
    transform: translate(-50%, -50%) rotate(90deg);
}

#soccerBall {
    position: absolute;
    width: 3%;
    height: auto;
    transform: translate(-50%, -50%);
}

#boxActionGame {
    display: flex;
}

#buttonStopGame {
    margin: auto;
}

.pointTop {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 238, 0);
    border-radius: 50%;
}

.pointBottom {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 132, 0);
    border-radius: 50%;
}

.pointLeft {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 0, 179);
    border-radius: 50%;
}

.pointRight {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
}

.pointCoordinate {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: blue;
    border-radius: 50%;
}

.pointBall {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 50%;
}